.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-header {
  min-height: 70vh;
  flex: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  background-color: aqua;

  h1 {
    text-align: center;
  }
}

.ButtonFooter {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

